:root {
  --headings: #35393f;
  --text: #7c8187;
  --block: #f5f5f5;
  --block-text: #35393f;
}

[class='dark'] {
  --headings: #fff;
  --text: #c1c4cb;
  --block: #2b2d31;
  --block-text: #fff;
}

.markdown {
  font-family: var(--font-roboto-slab);
}

/* Headings */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 0;
  color: var(--headings);
}

.markdown h1 {
  font-size: 32px;
}

.markdown h2 {
  font-size: 28px;
  font-weight: 300;
}

.markdown h3 {
  font-size: 24px;
}

.markdown h4 {
  font-size: 20px;
}

.markdown h5 {
  font-size: 16px;
}

.markdown h6 {
  color: #e46643;
  font-size: 14px;
}

/* Paragraphs, Lists, and Code */
.markdown p,
.markdown ol,
.markdown ul {
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
  padding-block: 10px;
}

.markdown ol,
.markdown ul {
  margin-left: 24px;
}

.markdown strong {
  font-weight: 700;
}

.markdown code {
  font-family: var(--font-roboto-mono);
  font-size: 14px;
  font-weight: 400;
  color: var(--block-text);
  word-wrap: break-word;
}

/* Code Blocks */
.markdown pre {
  background-color: var(--block);
  padding: 24px;
  border-radius: 4px;
  margin-block: 20px;
  white-space: pre-wrap;
}

/* Lists */
.markdown ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 16px;
}

.markdown ul {
  list-style: none;
  padding-left: 16px;
}

.markdown ul li::before {
  content: '\2022';
  color: #e46643;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Blockquotes */
.markdown blockquote {
  padding: 24px;
  background-color: var(--block);
  border-radius: 4px;
  border-left: 4px solid #e46643;
  margin-block: 20px;
}

.markdown blockquote p {
  color: var(--block-text);
  font-weight: 700;
  padding: 0;
}

.markdown a {
  text-decoration: underline;
}
